{% extends "base.html" %} {% block disqus %}
<script src="https://giscus.app/client.js"
        data-repo="wangzhe3224/zhuan-ma"
        data-repo-id="R_kgDOIO-zAA"
        data-category="Q&A"
        data-category-id="DIC_kwDOIO-zAM4CSCiV"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}
